body {
	padding: 0 2% 0 2%;
	margin: 0;

	background-color: white;
}

h1 {
	margin: 0;
	padding-top: 3%;
	color: floralwhite;
	text-align: center;
	font-size: 80px;
	font-weight: lighter;
	font-family: 'Lobster', cursive;
}

h2 {
	width: 30%;
	margin: 15px auto 0px auto;
	padding-top: 5px;
	border-top-style: dotted;
	border-top-width: 4px;
	border-top-color: black;
	
	color: floralwhite;
	font-style: italic;
	text-align: center;
}

p {
	margin: 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 22px;
}

.container-work {
	background-color: gray;
	width: 100%;
	height: 800px;
}

.container-experience {
	margin: 0 auto;
	background-color: lightslategrey;
	height: 400px;
}

.imgcont {
	display: block;
	float: left;
	width: 50px;
	height: auto;
	padding: 2px;
}

.imgcont img {
	width: 100%;
}

#mudgauntlet-backend .image-left {
	float: left;
	width: 40%;
	height: 500px;	
}

#mudgauntlet-backend .image-left .image {
	background-image: url("../images/mudgauntlet-backend.png");
	width: 100%;
	height: inherit;
	background-position: 50% 155%;
}

#mudgauntlet-backend .image-right {
	float: left;
	width: 60%;
	height: 500px;
	background-image: url("http://placekitten.com/600/2000");
	position: relative;
}

.description {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	width: 80%;
	padding: 4%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	
	background-color: black;
	color: white;
	
	opacity: 0.7;
}

.highlight {
	position: relative;
	
	top: 207px;
	left: 0;
	right: 0;
	
	width: 325px;
	height: 46px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: yellow;
}

.tools {
	display: table;
	margin: 0 auto 7%;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url("http://placekitten.com/300/300")}
#slide-3 .bcg {background-image:url("http://placekitten.com/300/300")}