body {
	margin: 0;
	background-color: white;
}

h1 {
	margin: 0;
	padding-top: 3%;
	color: black;
	text-align: center;
	font-size: 85px;
	font-weight: lighter;
	font-family: 'Lobster', cursive;
}

#intro h1 { color: black; margin-bottom: 5%; }
#mudgauntlet-backend h1 { color: floralwhite; }

h2 {
	width: 40%;
	margin: 15px auto 5px auto;
	padding-top: 5px;
	border-top-style: double;
	border-top-width: 4px;
	border-top-color: black;
	
	color: floralwhite;
	font-style: italic;
	text-align: center;
	font-weight: lighter;
	font-size: 24px;
}

p {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
}

.container-experience {
	margin: 0 2% 0 2%;
	background-color: lightslategrey;
}

.tool-icon {
	display: block;
	float: left;
	width: 50px;
	height: auto;
	padding: 2px;
}

.tool-icon img {
	width: 100%;
}

.task { height: 480px; }

.column { float: left; height: inherit; }
.container { width: 100%; height: inherit; }

.mud1 { width: 40%; }
.mud2 { width: 60%; }
.mud3 { width: 50%; }
.mud4 { width: 50%; }

.task-image { position: relative; }

.mud1 .task-image { background-image: url("../images/mudgauntlet-backend.png"); background-position: 50% 155%; }
.mud2 .task-image { background-image: url("http://placekitten.com/726/2000"); }
.mud4 .task-image { background-image: url("http://placekitten.com/726/480"); }

/* .task {
	height: 480px;
}

#mudgauntlet-backend .task-image {
	float: left;
	width: 40%;
	height: inherit;	
}

#mudgauntlet-backend .task-image .mud1 {
	background-image: url("../images/mudgauntlet-backend.png");
	width: 100%;
	height: inherit;
	background-position: 50% 155%;
} */


/* 
#mudgauntlet-backend .mud2 {
	float: left;
	width: 60%;
	height: 480px;
	background-image: url("http://placekitten.com/600/2000");
	position: relative;
} */

.description {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	width: 80%;
	padding: 4%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	
	background-color: black;
	color: white;
	
	opacity: 0.7;
}

.highlight {
	position: relative;
	
	top: 170px;
	left: 0;
	right: 0;
	
	width: 340px;
	height: 59px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: yellow;
}

.tools {
	display: table;
	margin: 0 auto;
	padding-bottom: 1%;
}

@media (min-width/* : 801px) {
	.mud1 { width: 40%; }
	
	.mud2 { width: 60%; }
}

@media (max-width: 800px) {
	.mud1 { width: 100%; height: 250px; }
	.mud1 img { 
		top: -90px;
		position: absolute; 
	}
	
	.mud2 { width: 100%; }
}
	
.gallery {
	width: 100%;
	height: 300px;
	display: table;
}

.thumbnail {
	float: left;
    position:relative;
}

.mud2 { }

.thumbnail img {
	width: 100%;
}

.passage {
	z-index: 10;
    position: absolute;
}

.mud1 .passage { 
	bottom: 0;
	left: 0;
	right: 0;

	width: 80%;
	padding: 4%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	
	background-color: black;
	color: white;
} */