body {
	margin: 0;
	background-color: white;
}

h1 {
	margin: 0;
	padding-top: 3%;
	color: black;
	text-align: center;
	font-size: 85px;
	font-weight: lighter;
	font-family: 'Lobster', cursive;
}

#mudgauntlet-backend h1 { color: floralwhite; }
#intro h1 { color: black; margin-bottom: 5%; }

h2 {
	width: 40%;
	margin: 15px auto 5px auto;
	padding-top: 5px;
	border-top-style: double;
	border-top-width: 4px;
	border-top-color: black;
	
	color: floralwhite;
	font-style: italic;
	text-align: center;
	font-weight: lighter;
	font-size: 24px;
}

p {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
}

.container-experience {
	margin: 0 2% 0 2%;
	background-color: lightslategrey;
}

.tool-icon {
	display: block;
	float: left;
	width: 50px;
	height: auto;
	padding: 2px;
}

.tool-icon img {
	width: 100%;
}

#mudgauntlet-backend .task-image {
	float: left;
	width: 40%;
	height: 480px;	
}

#mudgauntlet-backend .task-image .image {
	background-image: url("../images/mudgauntlet-backend.png");
	width: 100%;
	height: inherit;
	background-position: 50% 155%;
}

#mudgauntlet-backend .image-right {
	float: left;
	width: 60%;
	height: 480px;
	background-image: url("http://placekitten.com/600/2000");
	position: relative;
}

.description {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	width: 80%;
	padding: 4%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	
	background-color: black;
	color: white;
	
	opacity: 0.7;
}

.highlight {
	position: relative;
	
	top: 170px;
	left: 0;
	right: 0;
	
	width: 340px;
	height: 59px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: yellow;
}

.tools {
	display: table;
	margin: 0 auto;
	padding-bottom: 1%;
}